* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    opacity: 0;
    animation: open 2s ease forwards;
}

@keyframes open {
    to {
        opacity: 1;
    }
}

nav {
    display: flex;
    width: 100%;
    height: 117px;
    background-color: white;
    position: sticky;
    top: 0;
    opacity: 1;
    align-items: center;
    justify-content: center;
}

nav ul {
    width: 60%;
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
}

.fut {
    font-family: "Futura LT W01 Medium";
    font-size: 16px;
}

.ave {
    font-size: 15px;
    font-family: "Avenir Light";
}

nav ul li {
    letter-spacing: 0.1em;
}

.diff {
    font-size: 36px;
    font-family: "Adobe Caslon W01 SmBd";
}

section {
    height: 120vh;
    background-color: #EAE0DA;
    width: 100%;
    padding: 80px 280px;
}

.title {
    width: 747px;
    height: 127px;
}

.title h2 {
    font-size: 35px;
    color: white;
    font-family: "Cormorant Garamond", serif;
    letter-spacing: 0.05em;
    font-style: normal;
}

.sides {
    display: flex;
    height: 600px;
    width: 850px;
    margin-top: 20px;
    gap: 40px;
}

.left {
    width: 331px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.left p {
    font-size: 18px;
    font-family: "Avenir Light";
    font-weight: bold;
}

.right {
    width: 501px;
}

.gallery {
    max-width: 600px;
    margin: auto;
}

.main {
    position: relative;
    width: 100%;
    height: 384px;
    overflow: hidden;
}

.main img {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 0.4s ease;
}

.main img:first-child {
    opacity: 1;
}

/* When thumbnail is clicked */
.main img:target {
    opacity: 1;
    z-index: 1;
}

/* THUMBNAILS */
.thumbs {
    display: flex;
    gap: 12px;
    margin-top: 12px;
    overflow-x: auto;
    padding-bottom: 10px;
}

.thumbs img {
    height: 80px;
    cursor: pointer;
    border-radius: 6px;
    flex-shrink: 0;
    opacity: 0.7;
    transition: 0.3s;
}

.thumbs img:hover {
    opacity: 1;
}

/* Hide scrollbar */
.thumbs::-webkit-scrollbar {
    display: none;
}

.thumbs {
    scrollbar-width: none;
}

footer {
    width: 100%;
    height: 130px;
    background-color: rgb(246 246 246);
    background-image: url(https://static.parastorage.com/services/editor-elements-library/dist/thunderbolt/media/ironpatern.84ec58ff.png);
    box-shadow: 0 0 5px black;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.follow {
    height: 50px;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Adobe Caslon W01 SmBd";
}

.follow h5 {
    margin-top: 20px;
    font-size: 25px;
}

.apps {
    font-size: 30px;
    display: flex;
    gap: 10px;
}

.apps a {
    color: gray;
}