* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    opacity: 0;
    animation: open 2s ease forwards;
}

@keyframes open {
    to {
        opacity: 1;
    }
}

nav {
    display: flex;
    width: 100%;
    height: 117px;
    background-color: white;
    position: sticky;
    top: 0;
    opacity: 1;
    align-items: center;
    justify-content: center;
}

nav ul {
    width: 60%;
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
}

.fut {
    font-family: "Futura LT W01 Medium";
    font-size: 16px;
}

.ave {
    font-size: 15px;
    font-family: "Avenir Light";
}

nav ul li {
    letter-spacing: 0.1em;
}

.diff {
    font-size: 36px;
    font-family: "Adobe Caslon W01 SmBd";
}

img {
    width: 100%;
    position: relative;
}

.text {
    width: 906px;
    height: 426px;
    background-color: white;
    margin-top: -260px;
    margin-left: 300px;
    position: absolute;
}

.title {
    height: 80px;
    width: 100%;
    border-top: 3px dotted black;
    border-bottom: 3px dotted black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.title h3 {
    font-family: "Adobe Caslon W01 SmBd";
    font-size: 32px;
    font-weight: normal;
}

.des {
    width: 100%;
    height: 204px;
    padding: 25px 40px;
}

.des h2 {
    font-family: "Adobe Caslon W01 SmBd";
    font-size: 20px;
    font-weight: normal;
    line-height: normal;
    font-style: normal;
    letter-spacing: 0.05em;
}

.form {
    width: 716px;
    height: 914px;
    background-color: #EAE0DA;
    position: absolute;
    z-index: 999;
    margin-left: 400px;
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 50px 120px;
}

.form label,
input,
textarea {
    width: 100%;
    background-color: transparent;
}

.form input,
textarea {
    border: none;
    border-bottom: 2px solid white;
}

.next {
    display: flex;
    height: 80px;
    width: 100%;
    gap: 100px;
}

.nextcol {
    display: flex;
    height: 100%;
    justify-content: space-between;
    flex-direction: column;
}

.form h2 {
    font-family: "Futura LT W01 Medium";
    font-size: 30px;
    font-weight: bold;
    line-height: 1.4em;

}

.form label {
    font-family: "Futura LT W01 Medium";
    line-height: 1;
    font-size: 14px;
    margin-bottom: -40px;
}

.form input {
    height: 44px;
    width: 450px;
    padding: 10px;
}

.form input::placeholder {
    font-size: 17px;
    color: #687393;
    font-family: "Futura LT W01 Medium";

}

.form textarea::placeholder {
    font-size: 19px;
    color: #687393;
    font-family: "Futura LT W01 Medium";

}

.form input:hover {
    border: none;
    border-bottom: 2px solid black;
}

.form textarea {
    height: 130px;
    padding: 20px;
}

.form button {
    width: 147px;
    height: 42px;
    border: 2px solid black;
    background-color: white;
    border-radius: 25px;
    color: black;
    font-family: "Futura LT W01 Medium";
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    transition: 0.5s all;
    cursor: pointer;
}
.form button:hover{
    background-color: black;
    color: white;
}