* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    opacity: 0;
    animation: open 2s ease forwards;
}

@keyframes open {
    to {
        opacity: 1;
    }
}

nav {
    display: flex;
    width: 100%;
    height: 117px;
    background-color: white;
    position: sticky;
    top: 0;
    opacity: 1;
    align-items: center;
    justify-content: center;
}

nav ul {
    width: 60%;
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
}

.fut {
    font-family: "Futura LT W01 Medium";
    font-size: 16px;
}

.ave {
    font-size: 15px;
    font-family: "Avenir Light";
}

nav ul li {
    letter-spacing: 0.1em;
}

.diff {
    font-size: 36px;
    font-family: "Adobe Caslon W01 SmBd";
}