* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

section {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #F6F6F6;
}

.sign {
    width: 320px;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.sign h1 {
    font-family: "Dancing Script", cursive;
    font-style: italic;
    font-size: 48px;
}

.sign p {
    font-family: "Avenir Light";
    font-size: 18px;
    font-style: normal;
}

.sign p a {
    text-decoration: none;
    color: black;
}
.close {
    position: fixed;
    top: 20px;
    right: 20px;
    font-size: 28px;
    text-decoration: none;
    color: black;
    font-family: "Avenir Light";

}
.sign label{
    font-family: "Avenir Light";
    color: grey;
    margin-left: -250px;
}
.sign input{
    height: 37px;
    width: 320px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid black;
}
.forg{
    color: black;
    font-family: "Avenir Light";
    font-size: 16px;
    margin-left: -190px;
}
.sign button{
    width: 320px;
    height: 48px;
    background-color: black;
    color: white;
    border: none;
    font-family: "Avenir Light";
    font-size: 16px;
}
.or {
    display: flex;
    align-items: center;
    gap: 10px;
}

.line {
    width: 100px;
    height: 1px;
    background-color: black;
}
.apps{
    display: flex;
    width: 320px;
    height: 30px;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-size: x-large;
}