* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav {
    width: 100%;
    height: 287px;
}

nav img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    position: relative;
}

.list {
    position: absolute;
    width: 962px;
    height: 44px;
    background-color: #EAE0DA;
    margin-top: -250px;
    margin-left: 300px;
    padding: 20px;
    border: 1px solid black;
}

.list ul {
    display: flex;
    height: 100%;
    list-style: none;
    align-items: center;
    justify-content: space-between;
}

.list ul a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-family: "Cormorant Garamond", serif;
    font-weight: 600;
    height: 100%;
    display: flex;
    align-items: center;
}

.navText {
    width: 400px;
    height: 140px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -200px;
    margin-left: 560px;
    position: absolute;
    color: white;

}

.navText h2 {
    font-family: "Gloock", serif;
    font-size: 93px;
    font-weight: normal;
    font-style: normal;
    letter-spacing: 0.03em;
}

.navText h3 {
    font-family: "Lulo Clean W01 One Bold";
    font-size: 16px;
    letter-spacing: 0.05em;
    font-weight: normal;
    font-style: normal;
}

.card {
    width: 1069px;
    height: 9440px;
    background-color: #DED4C4;
    margin-top: -10px;
    margin-left: 240px;
    position: absolute;
    padding: 20px;
}

.card button {
    width: 315px;
    height: 42px;
    background-color: transparent;
    border: 1px solid black;
    font-family: "Playfair", serif;
    font-size: 18px;
    font-style: bold;
    font-weight: 800;
    padding-block-start: 8px 16px;
    cursor: pointer;
}

.card button a {
    color: black;
}

.card button:hover {
    background-color: #D3C9BA;
}

.select {
    display: flex;
    width: 100%;
    height: 70px;
    align-items: center;
    border-bottom: 1px solid gray;
    position: sticky;
    top: 0;
    z-index: 10000000;
    background-color: #DED4C4;
}

.menusel {
    height: 40px;
    width: 281px;
    display: flex;
    align-items: center;
    padding: 10px;
    font-family: "Playfair", serif;
    border-right: 1px solid gray;
    justify-content: space-between;
}

.menusel select:hover {
    border: none;
}

.food {
    width: 740px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

.food ul {
    width: 100%;
    height: 100%;
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    gap: 16px;
    padding: 10px;
    scrollbar-width: smooth;
    font-family: "Playfair", serif;
    background-color: transparent;
    list-style: none;
    align-items: center;
}

.food ul li {
    font-size: 19px;
    font-style: bold;
    font-weight: 700;
}

.food ul::-webkit-scrollbar {
    display: none;
}

.card h2 {
    height: 30px;
    width: 100%;
    font-size: 28px;
    font-family: "Avenir Light";
    margin-top: 40px;
}

.card h3 {
    font-family: "Avenir Light";
    font-size: 20px;
    margin-top: 40px;
}

.spec {
    display: flex;
    gap: 10px;
    height: 80px;
    align-items: center;
}

.spec h2 {
    color: white;
    font-family: "Cormorant Garamond", serif;
    font-size: 20px;
    line-height: normal;
    font-style: italic;
    letter-spacing: 0.05em;
    position: relative;
    z-index: 1000;
}

.menu-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    max-width: 1100px;
    margin: 0 auto;
    margin-top: 25px;
}

.item {
    width: 320px;
    height: 170px;
    display: flex;
}

.menu-item {
    border: 1px solid gray;
    width: 100%;
    height: 100%;
    position: relative;
    padding: 20px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.menu-item h2 {
    font-size: 16px;
    margin-top: -20px;
}

.menu-item h3 {
    font-size: 14px;
    font-family: "Playfair Display", serif;
    font-weight: bold;
    margin-top: 10px;
}