* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    opacity: 0;
    animation: open 2s ease forwards;
}

@keyframes open {
    to {
        opacity: 1;
    }
}

nav {
    display: flex;
    width: 100%;
    height: 117px;
    background-color: white;
    position: sticky;
    top: 0;
    opacity: 1;
    align-items: center;
    justify-content: center;
}

nav ul {
    width: 60%;
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
}

.fut {
    font-family: "Futura LT W01 Medium";
    font-size: 16px;
}

.ave {
    font-size: 15px;
    font-family: "Avenir Light";
}

nav ul li {
    letter-spacing: 0.1em;
}

.diff {
    font-size: 36px;
    font-family: "Adobe Caslon W01 SmBd";
}

img {
    width: 100%;
    height: 510px;
    object-fit: cover;
    object-position: 50% 50%;
}

section {
    width: 100%;
    height: 230px;
    background-color: rgb(246, 246, 246);
    padding: 20px;
    margin-top: -5px;
}

.special {
    width: 60%;
    margin-left: 250px;

}

.special h1 {
    font-family: "Gloock", serif;
    font-weight: normal;
    font-size: 35px;
    font-style: normal;
}

.special p {
    font-family: "Adobe Caslon W01 SmBd";
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
}

.soups {
    display: flex;
    flex-direction: column;
    position: static;
    width: 100%;
    height: 100vh;
    background-color: white;
    gap: 90px;
    padding: 50px;
}

.soup1 {
    width: 306px;
    height: 290px;
    object-fit: cover;
    object-position: 50% 50%;
    border-left: 3px solid black;
    border-right: 3px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
}

.soup1 img {
    width: 390px;
    height: 304px;
    margin-top: -40px;
}

.soup1 h1 {
    font-family: "Gloock", serif;
    font-size: 20px;
    line-height: normal;
    color: #403a2a;
    font-weight: normal;
    margin-top: -90px;
    margin-left: -45px;
}

.soup1 p {
    font-family: "Adobe Caslon W01 SmBd";
    font-size: 20px;
    font-weight: normal;
    line-height: 0.9em;
    margin-top: 5px;
}

.firstline {
    display: flex;
    margin-left: 220px;
    gap: 40px;
}

.order {
    width: 726px;
    height: 800px;
    background-color: #DDF2FB;
    margin: auto;
    margin-top: 110px;
    border-radius: 17px;
    /* padding-left: 50px;
    padding-top: 15px; */
    padding: 5px 55px;
}

.order h1 {
    font-family: 'Times New Roman', Times, serif;
    color: rgb(98, 76, 64);
    font-size: 40px;
    line-height: 1.5;
}

.order p {
    font-family: "Poppins", sans-serif;
    color: rgb(98, 76, 64);
    font-size: 16px;
    font-weight: 200;
    line-height: 1.5;
}

.order h2 {
    font-family: "Arial";
    color: rgb(98, 76, 64);
    font-size: 24px;
    line-height: 1.5;
    font-weight: 700;
}

.order ul {
    display: flex;
    flex-direction: column;
    color: #403a2a;
    font-family: "Poppins", sans-serif;
    height: 90px;
    justify-content: center;
}

.order ul li {
    margin-left: 20px;
    list-style-type: disc;
}

.inps {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 460px;
    justify-content: space-between;
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    color: #403a2a;
    margin-top: 20px;
    align-items: center;
}

.names {
    display: flex;
    gap: 5px;
    height: 60px;
    align-items: center;
    justify-content: center;

}

.names input {
    height: 40px;
    width: 305px;
    border-radius: 8px;
    border: none;
}

.namescol {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.event {
    display: flex;
    gap: 5px;
}

.event input,
select {
    border: none;
    border-radius: 8px;
}

.event input,
select,
textarea {
    font-family: "Poppins", sans-serif;
    color: #403a2a;
    font-weight: 200;
    font-size: 16px;
    padding-left: 12px;
}

.brown{
    width: 409px;
    height: 41px;
    border-radius: 25px;
    background-color: #624C40 ;
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-size: 16px;
    border: 1px dashed red;
    cursor: crosshair;
    transition: 1s;
}
.brown:hover{
    background-color: #897970;
}
