*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-image: url(https://static.wixstatic.com/media/225d0e_fceb052e35b54bbf9b95990574209f6f~mv2.jpg/v1/fill/w_1375,h_1213,al_c,q_85,usm_0.66_1.00_0.01,enc_avif,quality_auto/225d0e_fceb052e35b54bbf9b95990574209f6f~mv2.jpg);
    width: 100%;
    height: 100vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center bottom;
}
nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 110px;
    width: 100%;
    border-bottom: 1px solid white;
    position: absolute;
    top: 0;
    padding: 15px;
}
.title{
    display: flex;
    justify-content: space-between;
    width: 50%;
    height: 30px;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
    /* background-color: green; */
    padding-top: 20px;
}
.title h1{
    font-size: 55.0385px;
}
.apps{
    display: flex;
    gap: 5px;
    align-items: center;
}
.apps i{
    color:#969696;
    font-size: 32px;
}
.log{
    display: flex;
    gap: 5px;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
}
.log i{
    font-size: 28px;
    color: rgb(185, 185, 185, 1);
}
.list{
    height: 43px;
    width: 869px;
    display: flex;
    padding-top: -20px;
    /* background-color: blue; */
    align-items: center;
    justify-content: center;
}
.list ul{
    height: 100px;
    display: flex;
    list-style: none;
    gap: 30px;
    font-family: "Cormorant Garamond", serif;
    font-weight: 600;
    letter-spacing: 0.05em;
    font-size: 18px;
    /* background-color: aqua; */
}
.list ul a{
    text-decoration: none;
    color: black;
    margin-top: 50px;
    transition: 6s all linear;
    display: flex;
    align-items: center;
}
.list ul a:hover {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}
section{
    background-image: url(https://static.wixstatic.com/media/nsplsh_b29502fcfe314f8db9e9b69eb036a24d~mv2.jpg/v1/fill/w_1225,h_894,al_c,q_85,usm_0.66_1.00_0.01,enc_avif,quality_auto/nsplsh_b29502fcfe314f8db9e9b69eb036a24d~mv2.jpg);
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}
.left{
    height: 100%;
    width: 50%;
    position: absolute;
    left: 300px;
}
.firstFood{
    width: 222px;
    height: 270px;
    position: absolute;
    top: 214px; 
    left: 198px;
    transform: rotate(373deg);
}
.secondFood{
    width: 259px;
    height: 270px;
    position: absolute;
    top: 229px;
    left: 130px;
    transform: rotate(377deg);
}
.thirdFood{
    width: 270px;
    height: 246px;
    position: absolute;
    top: 177px;
    left: 172px;
    transform: rotate(377deg);
    z-index: 6;
}
.fourthFood{
    width: 270px;
    height: 186px;
    position: absolute;
    top: 305px;
    left: 172px;
    transform: rotate(360deg);
}
.fifthFood{
    width: 258px;
    height: 270px;
    position: absolute;
    top: 150px;
    left: 118px;
    transform: rotate(356deg);
    z-index: 8;
}
.right{
    height: 100%;
    width: 50%;
    position: absolute;
    left: 760px;
    top: 810px;
}
.text{
    width: 376px;
    height: 450px;
    background-color: #F7F5E1;
    padding: 20px;
    padding-right: 50px;
}
.text h3{
    font-size: 26px;
    font-weight: 600;
    font-family: "DIN Neuzeit Grotesk LT W01 BdCn";
}
.text p{
    font-size: 15px;
    font-family: "Avenir Light";
    font-weight: 300;
}