*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    width: 100%;
    height: 100vh;
    background-image: url(https://static.wixstatic.com/media/225d0e_fceb052e35b54bbf9b95990574209f6f~mv2.jpg/v1/fill/w_1375,h_1213,al_c,q_85,usm_0.66_1.00_0.01,enc_avif,quality_auto/225d0e_fceb052e35b54bbf9b95990574209f6f~mv2.jpg);
    background-position: center bottom;
    background-size: 65% auto;
    background-repeat: no-repeat;
}
nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 110px;
    width: 100%;
    border-bottom: 1px solid white;
    position: absolute;
    top: 0;
    padding: 15px;
}
.title{
    display: flex;
    justify-content: space-between;
    width: 50%;
    height: 30px;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
    /* background-color: green; */
    padding-top: 20px;
}
.title h1{
    font-size: 55.0385px;
}
.apps{
    display: flex;
    gap: 5px;
    align-items: center;
}
.apps i{
    color:#969696;
    font-size: 32px;
}
.log{
    display: flex;
    gap: 5px;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
}
.log i{
    font-size: 28px;
    color: rgb(185, 185, 185, 1);
}
.list{
    height: 43px;
    width: 869px;
    display: flex;
    padding-top: -20px;
    /* background-color: blue; */
    align-items: center;
    justify-content: center;
}
.list ul{
    height: 100px;
    display: flex;
    list-style: none;
    gap: 30px;
    font-family: "Cormorant Garamond", serif;
    font-weight: 600;
    letter-spacing: 0.05em;
    font-size: 18px;
    /* background-color: aqua; */
}
.list ul a{
    text-decoration: none;
    color: black;
    margin-top: 50px;
    transition: 6s all linear;
    display: flex;
    align-items: center;
}
.list ul a:hover {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}